body{
    background:url(file:///C:/Users/Ian/Documents/GitHub/cgt353fall19project2/images/backgroundpattern.png) ;

    height: 100%;
	text-align:center;
	font-size:15px;
	font-family: 'Times New Roman', Times, serif;
	font-weight:500;
	text-decoration: none;
	position: absolute;
	left: 50%;
	width: 777px;
	margin-left: -555px;
}

#header{
    width:1111px;
	height:125px;
	position:relative;
	margin: 0 auto;
}

.box {
	background:white;
	border-style:solid;
	border-width:1.5px;
	border-color:#ffffff;
    border-radius: 11px;
    box-shadow: 10px 10px 8px black;
}

.box2 {
	background: rgb(50, 205, 166);
	border-style:solid;
	border-width:1.5px;
	border-color:rgb(50, 205, 166);
    border-radius: 11px;
    box-shadow: 10px 10px 8px black;
}

.box3 {
	background: rgb(130, 233, 207);
	border-style:solid;
	border-width:1.5px;
	border-color: rgb(130, 233, 207);
    border-radius: 11px;
    box-shadow: 10px 10px 8px black;
}

.box4 {
	background: rgb(167, 240, 220);
	border-style:solid;
	border-width:3px;
	border-color: rgb(57, 187, 155);
    border-radius: 11px;
}


#topcontainer{
    float: center;

    font-size:15px;
    width:1111px;
	position:relative;
    overflow:hidden;
    text-align: center;
    margin: 0, auto;
}

#topcontainer a{
	background: rgb(20,168, 130);
	height:20px;
	border-style:solid;
	border-width:1.5px;
	border-radius: 11px;
	line-height:20px;
	padding:4px;
	margin-left:4px;
	color: white;
}

#topcontainer a:hover{
	background:rgb(0, 125, 255);
}

#advertisement{
    width:750px;
	height:110px;
	top:18px;
    right:50px;
    float: left;
}

#maincontainer{
    width:1111px;
	margin: 5px  auto;
	padding: 10px 0;
}

#bottomcontainer{
    width:1075px;
    margin-top:5px;
	padding:25px 15px;
}

#title{
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#comic{
    position: relative;
    margin: auto;
    z-index: 9;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#prev{
    background-image: url("backbutton.png");
    background-color: transparent;
    width: 200px;
    height: 71px;
    border: none;
    cursor: pointer;
}

#next{
    background-image: url("forwardbutton.png");
    background-color: transparent;
    width: 200px;
    height: 71px;
    border: none;
    cursor: pointer;
}