/* style.css */

body {
	background: url("../images/backgroundpattern.png");
	background-position: center;
	font-family: 'Times New Roman', Times, serif;
}

 /* The Ad Placeholder */
.product {
	font-family: Arial;
	font-size: 30px;
	border: .2em #a3c7cb solid;
	border-radius: .1em;
	background-color: #406467;
	color: white;
	width: 100%;
	height: 90%;
	margin: .2em 0;
	padding-top: .3em;
}

.box{
	border-radius: .5em;
	box-shadow: 10px 10px 8px black;
	padding: .5em;
}

.background-green{
	background-color: #32cda6;
}

.background-white{
	background-color: white;
}

.btn-green{
	color: white;
	background-color: #14a882;
	border-radius: .5em;
	font-weight: bold;
	font-size: 30px;
	border: .1em white solid;
	margin-right: .5em;
}

.btn-green:hover{
	color: white;
	background-color: #007dff;
}

ul.nav li{
	margin: .3em;
}

.dropdown-menu{
	background-color: #14a882;
	box-shadow: 10px 10px 8px black;
	border-radius: .5em;
	border: .1em white solid;
}

.dropdown-item{
	color: white;
	font-size: 1.2em;
}

.dropdown-item:hover{
	color: white;
	background-color: #007dff;
}

.title{
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#comic{
	font-size: 1.5em;
}

#message {
	background-image: url("../images/bubble3.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-attachment: inherit;
	width: 300px;
	height: 200px;
	border: none;
	padding: .5em;
}

.error {
	color: red;
	font-weight: bold;
}

.error textarea, .error input {
	border-color: red;
}

.error::after {
	color: red;
	font-size: 12px;
	content: " Please complete this field";
}