/* style.css */

body {
	background: url("../images/backgroundpattern.png");
	background-position: center;
	font-family: 'Times New Roman', Times, serif;
}

 /* The Ad Placeholder */
.product {
	font-family: Arial;
	font-size: 30px;
	border: .2em #a3c7cb solid;
	border-radius: .1em;
	background-color: #406467;
	color: white;
	width: 100%;
	height: 90%;
	margin: .2em 0;
	padding-top: .3em;
}

.box{
	border-radius: .5em;
	box-shadow: 10px 10px 8px black;
	padding: .5em;
}

.background-green{
	background-color: #32cda6;
}

.btn-green{
	color: white;
	background-color: #14a882;
	border-radius: .5em;
	font-weight: bold;
	font-size: 30px;
	border: .1em white solid;
	margin-right: .5em;
}

.btn-green:hover{
	color: white;
	background-color: #007dff;
}

ul.nav li{
	margin: .3em;
}

.dropdown-menu{
	background-color: #14a882;
	box-shadow: 10px 10px 8px black;
	border-radius: .5em;
	border: .1em white solid;
}

.dropdown-item{
	color: white;
}

.dropdown-item:hover{
	color: white;
	background-color: #007dff;
}

.box2 {
	background: rgb(50, 205, 166);
	border-style: solid;
	border-width: 1.5px;
	border-color: rgb(50, 205, 166);
	border-radius: 11px;
	box-shadow: 10px 10px 8px black;
}

.box3 {
	background: rgb(130, 233, 207);
	border-style: solid;
	border-width: 1.5px;
	border-color: rgb(130, 233, 207);
	border-radius: 11px;
	box-shadow: 10px 10px 8px black;
}

.box4 {
	background: rgb(167, 240, 220);
	border-style: solid;
	border-width: 3px;
	border-color: rgb(57, 187, 155);
	border-radius: 11px;
}

#topcontainer {
	font-size: 15px;
	width: 1111px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	height: 85px;
	margin-bottom: -1rem;
}

#topcontainer a {
	background: rgb(20, 168, 130);
	border-style: solid;
	border-width: 1.5px;
	border-radius: 11px;
	padding: 4px;
	margin-left: 4px;
	color: white;
}

#topcontainer h1 {
	display: inline-block;
}

#topcontainer a:hover {
	background: rgb(0, 125, 255);
}

#advertisement {
	width: 750px;
	height: 110px;
	top: 18px;
	right: 50px;
	float: left;
}

#maincontainer {
	width: 1111px;
	margin: 5px  auto;
	padding: 10px 0;
}

#bottomcontainer {
	width: 1075px;
	margin-top: 5px;
	padding: 25px 15px;
}

#title {
	margin: 10px;
	font-size: 20px;
	font-weight: 800;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#comic {
	position: relative;
	margin: auto;
	z-index: 9;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#prev {
	background-image: url("../images/backbutton.png");
	background-color: transparent;
	width: 100px;
	height: 35px;
	border: none;
	cursor: pointer;
}

#prev:hover {
	background-image: url("../images/backbuttonhover.png");
	background-color: transparent;
	width: 100px;
	height: 35px;
	border: none;
	cursor: pointer;
}

#next {
	background-image: url("../images/forwardbutton.png");
	background-color: transparent;
	width: 100px;
	height: 35px;
	border: none;
	cursor: pointer;
}

#next:hover {
	background-image: url("../images/forwardbuttonhover.png");
	background-color: transparent;
	width: 100px;
	height: 35px;
	border: none;
	cursor: pointer;
}

#style1 {
	display: block;
	margin: 0 auto;
}

#style2 {
	display: none;
	margin: 0 auto;
}

#style3 {
	display: none;
	margin: 0 auto;
}

#message {
	background-image: url("../images/bubble3.png");
	background-repeat: no-repeat;
	background-color: transparent;
	background-attachment: inherit;
	width: 300px;
	height: 200px;
}

/* DROPDOWN MENU STUFF */
#clickDrop {
	background: rgb(20, 168, 130);
	width: 220px;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 11px;
	padding: 4px;
	margin-left: 4px;
	color: white;
}

#clickDrop a:hover {
	background: rgb(0, 125, 255);
}

.reveal {
	display: block;
}

.error {
	color: red;
	font-weight: bold;
}

.error textarea, .error input {
	border-color: red;
}

.error::after {
	color: red;
	font-size: 12px;
	content: " Please complete this field";
}