body{
    background-color: rgb(150, 200,200);
	text-align:center;
	font-size:15px;
	font-family: 'Times New Roman', Times, serif;
	font-weight:500;
	text-decoration: none;
	position: absolute;
	left: 50%;
	width: 777px;
	margin-left: -400px;
}

.box {
	background:white;
	border-style:solid;
	border-width:1.5px;
	border-color:#ffffff;
	border-radius: 11px;
}

#topcontainer{
    width:777px;
	position:relative;
    overflow:hidden;
    text-align: center;
    margin: 0, auto;
}

#maincontainer{
    width:777px;
	margin: 5px  auto;
	padding: 10px 0;
}

#title{
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
}

#comic{
    position: relative;
    margin: auto;
    z-index: 9;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#prev{
    background-image: url(css/backbutton.png) no-repeat;
    width: 200px;
    height: 71px;
    border: none;
    cursor: pointer;
}